.oldnews {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.oldnews-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  width: 100%;
}

.oldnews-item {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

@media screen and (max-width: 767px) {
  .oldnews-list {
    grid-template-columns: 1fr;
  }
}