.app {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas:
    "navbar navbar"
    "main aside-right"
    "footer footer";
  padding-left: 10px;
  padding-right: 10px;
  height: auto;
}

.navbar {
  grid-area: navbar;
  background-color: rgb(255, 255, 255);
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px double rgb(0, 0, 0);
  margin-bottom: 15px;
}

.burger-btn {
  display: none;
}
.title-logo {
  max-width: 500px;
  height: auto;
  margin-right: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: -6px;
  max-width: 100%;
  touch-action: none;
}

.link-menu {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link-menu:hover {
  text-decoration: underline 2px rgb(0, 0, 0);
  text-underline-offset: 4px;
  color: rgb(0, 0, 0);
}

.data {
  font-size: 14px;
}

.title-logo {
  width: 500px;
  height: auto;
}

.btn {
  width: auto;
  height: 30px;
  padding: 8px 12px;
  background-color: rgb(86, 123, 149);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid rgb(86, 123, 149);
  border-radius: 3px;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: rgb(49, 104, 143);
  color: rgb(255, 255, 255);
  transition: 0.8s;
}

.main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(201, 194, 194);
  margin-bottom: 15px;
  padding-right: 20px;
  font-family: "Times New Roman", Times, serif;
  max-width: 100%;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.item {
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  gap: 10px;
}

.h {
  font-size: 23px;
  margin: 0;
  padding: 5px 0px;
  font-family: cheltenham, georgia, "times new roman", times, serif;
}

.description {
  font-size: 18px;
  color: #525252;
  margin: 0;
}

.credit {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #727272;
}

.emailed7 .item {
  border-bottom: none;
}

.emailed7 .list {
  border-bottom: 1px solid rgb(0, 0, 0);
  column-gap: 40px;
  row-gap: 10px;
}

.emailed7 img {
  object-fit: cover;
  height: auto;
  display: block;
  max-width: 100%;
}

.aside-right {
  grid-area: aside-right;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  font-family: "Times New Roman", Times, serif;
  max-width: 100%;
}

.emailed-list {
  display: grid;
  grid-template-columns: 1fr;
}

.emailed30 {
  display: grid;
  grid-template-columns: 1fr;
}

.emailed .item {
  display: flex;
  flex-direction: column;
}

.h-emailed {
  font-size: 20px;
}

.img-emailed {
  object-fit: cover;
  height: auto;
  display: block;
  max-width: 100%;
}

.description-emailed {
  font-size: 16px;
  margin-top: -5px;
  color: #525252;
}

.credit-emailed {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #727272;
}

.footer {
  grid-area: footer;
  background-color: rgb(255, 255, 255);
  border-top: 5px double rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 50px;
}

.footer-logo {
  width: 200px;
  height: auto;
}

.container-foot {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(201, 194, 194);
  width: 100%;
  justify-content: space-evenly;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 130px;
  font-weight: bold;
  font-size: 13px;
}

.footer-menu p {
  font-size: 12px;
  font-weight: 400;
}

.aside-footer {
  border-left: 1px solid rgb(201, 194, 194);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 15px;
}

.aside-footer p {
  font-size: large;
}

.copyright-footer {
  font-size: 11px;
  text-align: center;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main"
      "aside-right"
      "footer";
  }

  .title-logo {
    max-width: 400px;
    margin-right: 20px;
  }

  .menu-data {
    display: flex;
    flex-direction: column;
    gap: 70px;
  }

  .burger-btn {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: #ffffff;
  }

  .burger-menu {
    display: flex;
    width: 25px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .burger-menu:hover {
    cursor: pointer;
  }

  .menu {
    display: none;
  }

  .main {
    border-right: none;
  }

  .list {
    grid-template-columns: 1fr 1fr;
  }

  .emailed .item {
    display: flex;
    flex-direction: column;
  }

  .aside-right {
    padding-left: 0;
    display: grid;
    height: auto;
  }

  .emailed30 {
    display: grid;
  }

  .emailed-list {
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .h-emailed {
    font-size: 23px;
  }

  .description-emailed {
    font-size: 18px;
  }

  .container-foot {
    flex-direction: column;
  }

  .aside-footer {
    display: none;
  }

  .footer-menu {
    flex-direction: column;
    gap: 5px;
  }

  .footer-menu p {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main"
      "aside-right"
      "footer";
  }



  .container {
    flex-direction: column;
    gap: 10px;
  }

   .menu-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  .burger-btn {
    width: 40px;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    border: none;
    background-color: #ffffff;
  }

  .burger-menu {
    display: flex;
    width: 25px;
    height: 30px;
    justify-content: center;
    align-items: center;
  }

  .title-logo {
    max-width: 300px;
    margin-right: 0px;
  }

  .data {
    margin: 0;
  }

  .menu {
    display: none;
  }

  .main {
    border-right: none;
  }

  .list {
    grid-template-columns: 1fr;
  }

  .emailed .item {
    display: flex;
    flex-direction: column;
  }

  .aside-right {
    padding-left: 0;
    display: grid;
    height: auto;
  }

  .emailed30 {
    display: grid;
  }

  .emailed-list {
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
  }

  .h-emailed {
    font-size: 23px;
  }

  .description-emailed {
    font-size: 18px;
  }

  .container-foot {
    flex-direction: column;
  }

  .aside-footer {
    display: none;
  }

  .footer-menu {
    flex-direction: column;
    gap: 5px;
  }

  .footer-menu p {
    display: none;
  }
}
