.app {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 1fr 0.5fr;
  grid-template-areas:
    "navbar navbar"
    "main aside-right"
    "footer footer";
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
}

.navbar {
  grid-area: navbar;
  background-color: rgb(255, 255, 255);
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 4px double rgb(0, 0, 0);
  margin-bottom: 15px;
}


.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: -6px;
  max-width: 100%;
}

.link-menu {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.link-menu:hover {
  text-decoration: underline 2px rgb(0, 0, 0);
  text-underline-offset: 4px;  
  color: rgb(0, 0, 0);
}

.data {
  font-size: 14px;
}

.title-logo {
  width: 500px;
  height: auto;
}

.container-btn {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.btn {
  width: auto;
  height: 30px;
  padding: 8px 12px;
  background-color: rgb(86, 123, 149);
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  border: 1px solid rgb(86, 123, 149);
  border-radius: 3px;
  cursor: pointer;
  transition: 1s;
}

.btn:hover {
  background-color: rgb(49, 104, 143);
  color: rgb(255, 255, 255);
  transition: 0.8s;
}

.main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  border-right: 1px solid rgb(201, 194, 194);
  margin-bottom: 15px;
  padding-right: 20px;
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;
}

.list{
  display: grid;
  grid-template-columns: 1fr 1fr; 
}

.item{
  border-bottom: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  padding-left: 10px;
}

.h{
  font-size: 25px;
}

.description{
  font-size: 18px;
}

.credit{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #727272;
}

.emailed7 .item {
  border-bottom: none;
}

.emailed7 .list{
  border-bottom: 1px solid rgb(0, 0, 0);
  column-gap: 40px;
  row-gap: 20px;
  }

 .emailed7 img{
  object-fit: cover;
  height: auto;
  display: block;
}

.aside-right {
  grid-area: aside-right;
  background-color: rgb(255, 255, 255);
  padding-left: 20px;
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;
}

.emailed .item{
  display: flex;
  flex-direction: column;
}


.h-emailed{
  font-size: 20px;
}

.description-emailed{
  font-size: 16px;
  margin-top: -5px;
}

.credit-emailed{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  color: #727272;
}



.footer {
  grid-area: footer;
  background-color: rgb(255, 255, 255);
  border-top: 5px double rgb(236, 236, 236);
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 50px;
}

.footer-logo {
  width: 184px;
  height: auto;
}

.container-foot {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(201, 194, 194);
  width: 100%;
  justify-content: space-evenly;
}

.footer-menu {
  display: flex;
  flex-direction: row;
  gap: 150px;
  font-weight: bold;
  font-size: 13px;
}

.footer-menu p{
  font-size: 12px;
  font-weight: 400;
}

.container-1{
  border-left: 1px solid rgb(201, 194, 194);
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  font-weight: bold;
  font-size: 13px;
  margin-bottom: 15px;
}

.container-1 p {
  font-size: large;
}

.copyright-footer {
  font-size: 11px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .app {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      "navbar"
      "main"
      "aside-right"
      "footer";
  }

  .list{
  grid-template-columns: 1fr; 
}
}
